@model Item
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Items</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a>Home</a></li>
                            <li class="breadcrumb-item active">Edit Item</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        @if (TempData["errorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade-show">
                @TempData["errorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        }
        @if (TempData["successMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade-show">
                @TempData["successMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        }
        <div class="alert alert-success">
            <form asp-action="Update" method="post" asp-controller="Item">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade-show"></div>
                <input type="hidden" asp-for="ItemId" />
                <div class="row">
                    <div class="col-lg-3">
                        <div class="mb-3">
                            <label asp-for="ItemName" class="form-label">Item Name<span class="AsteriskRed">*</span></label>
                            <input type="text" class="form-control" asp-for="ItemName" name="ItemName" placeholder="Enter Item Name">
                            <span asp-validation-for="ItemName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3">
                            <label asp-for="CO2" class="form-label">CO2 Value<span class="AsteriskRed">*</span></label>
                            <input type="text" class="form-control" asp-for="CO2" name="CO2" placeholder="Enter CO2">
                            <span asp-validation-for="CO2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3">
                            <label asp-for="OZone" class="form-label">OZone Value<span class="AsteriskRed">*</span></label>
                            <input type="text" class="form-control" asp-for="OZone" name="OZone" placeholder="Enter OZone">
                            <span asp-validation-for="OZone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3">
                            <label asp-for="ItemDescription" class="form-label">ItemDescription</label>
                            <input type="text" class="form-control" asp-for="ItemDescription" name="ItemDescription" placeholder="Enter Item Description">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="hstack gap-2 justify-content-end mb-3 mt-4">
                            <button type="submit" class="btn btn-success">Save Changes</button>
                            <a asp-action="Index" asp-controller="Item" class="btn btn-primary">Close</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
